body{
    background:#232931;
}

#main{
    width:400px;
    height:auto;
    background: #393E46;
    border-radius: 3px;
    box-shadow: 5px 5px 10px rgb(0 0 0 / 0.3);
    margin: auto;
    margin-top:100px;
}